/* General styles */

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    height: 100%;
}

main {
    flex: 1;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


/* Navigation */

.main-nav {
    background-color: #092a35;
    padding: 1rem;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.navigation a:hover {
    color: #07a1e5;
}


/* Dropdown styles */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 12px 20px;
    /* Adjust the padding as needed */
    z-index: 1;
    white-space: nowrap;
    /* Prevent line breaks */
    margin-top: -10px;
    /* Adjust the initial margin-top value as needed */
    transition: margin-top 0.3s ease-in-out;
    /* Add the transition property */
}

.dropdown.active .dropdown-content {
    margin-top: 0;
    /* Adjust the final margin-top value as needed */
}

.dropdown-content a {
    color: #ffffff;
    padding: 4px 0;
    /* Adjust the vertical padding as needed */
    text-decoration: none;
    display: block;
    margin: 2px 0;
    /* Adjust the vertical margin as needed */
}

.dropdown-content a:hover {
    color: #07a1e5;
}

.fas {
    font-size: 12px;
    padding-left: 5px;
}


/* Hero section */

.hero {
    background-color: #eaf0f6;
    padding: 2rem 0;
    text-align: center;
}

h1 {
    color: #3d3d3d;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 400;
}


/* Content section */

.content {
    padding: 2rem;
    text-align: center;
}

p {
    color: #3d3d3d;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}


/* Footer */

footer {
    background-color: #092a35;
    padding: 1rem;
    text-align: center;
}

footer p {
    color: #ffffff;
}


/* Responsive styles */

@media only screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation li {
        margin-bottom: 10px;
    }
    .dropdown-content {
        min-width: 160px;
    }
}


/* Animation for header banner */

.header-expanded {
    margin-top: 60px;
    /* Adjust the value as needed */
    transition: margin-top 0.3s ease-in-out;
}

.main-nav.expanded {
    padding: 6rem;
    transition: padding 0.3s ease-in-out;
}


/* Add rotation transform for the arrow icon */

.fas.fa-chevron-down.rotate {
    transform: rotate(180deg);
}