body {
    background-color: #1c2b3a;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h1 {
    color: #e63946;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color: #f1faee;
}

h3 {
    color: white;
    text-align: left;
}

p {
    color: white;
    text-align: left;
}

.navigationbutton {
    background-color: #a8dadc;
    border: none;
    color: #1d3557;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    font-weight: 600;
    border-radius: 150px;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    padding: 5px 12px;
    transition: background-color 0.2s;
}

.navigationbutton:hover {
    background-color: #457b9d;
    color: white;
}

html {
    scroll-behavior: smooth;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
